@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=Cutive+Mono&display=swap');

nav {
    background-color: #FFFFFF;
    font-size: 20px;
    line-height: 3em;
    display: flex;
    justify-content: space-evenly;
    height: 120px;
}

nav a {
    color: #B07C40;
    align-items: center;
    margin-top: 20px;
}
body {
    background-color: #F2F2F2;
}
nav .logo {
    margin-top: 20px;
}
.home-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;

.main-intro {
    margin-top: 100px;
}


}
.main-intro h2 {
    text-align: center;
    margin-right: 100px;
    margin-left: 10px;
    margin-top: 100px;
    font-family: 'Cutive Mono', 'Times New Roman', Times, serif;
    font-size: 20px;
    line-height: 30px;
    font-weight: lighter;
}
.main-intro h1 {
    margin-bottom: 50px;
    margin-left: 60px;
    margin-top: 150px;
    font-family: 'Cinzel', 'Times New Roman', Times, serif ;
    font-size: 40px;
}
#title-msg {
    margin-left: 80px;
    margin-top: 80px;
    margin-bottom: 80px;
    z-index: 1;

}
.hire {
    background-color:#B07C40;
    text-decoration: none;
    padding: 15px 30px;
    font-size: 15px;
    margin-top: 50px;
    border-radius: 5px;
    color: #FFFFFF;
}
.hire-button {
    margin-left: 700px;
    margin-top: 120px;
}
.hire-button a:hover {
    color: black;
}
footer {
    background-color: #FFFFFF;
    font-size: 20px;
    line-height: 3em;
    display: flex;
    justify-content: space-evenly;
    height: 120px;
}
footer p {
    margin-top: 25px;
}
footer a {
    color: #B07C40;
}
footer .social img {
    margin-top: 25px;
}
nav a:hover {
    color: black;
}
footer a:hover {
    color: black;
}
#background {
    height: 800px;
    width: 750px;
    background-color: #B07C40;
    margin-top: -915px;
    margin-bottom: 100px;
    margin-left: 30px;

    z-index: -1;
}
.logo {
    margin-bottom: 40px;
}